
/* F1 2018 Team Color Hex Codes from: https://www.reddit.com/r/formula1/comments/82h891/f1_2018_team_color_hex_codes/ */

.color-mercedes {
  color: #00D2BE;
}

.color-ferrari {
  color: #DC0000;
}

.color-red-bull-racing-tag-heuer {
  color: #00327D;
}

.color-force-india-mercedes {
  color: #F596C8;
}

.color-williams-mercedes {
  color: #FFFFFF;
}

.color-renault {
  color: #FFF500;
}

.color-scuderia-toro-rosso-honda {
  color: #0032FF;
}

.color-haas-ferrari {
  color: #5A5A5A;
}

.color-mclaren-renault {
  color: #FF8700;
}

.color-sauber-ferrari {
  color: #9B0000;
}

/* END of team color hex codes */