.race-block {
  min-height: 400px;
  width: 100%;
  padding-left: 3vw;
  padding-bottom: 40px;

  background-attachment: fixed;
  background-size: cover;
}

.race-block div {
  /* background-color: #00000088; */
}

.race-block h1 {
  text-align: center;
  font-family: 'Staatliches', sans-serif;
  font-weight: 400;
  color: #EEEEEE;
  background-color: #00000088;
  margin: 0;
}

.race-block .parent {
  min-height: 200px;
  width: 97vw;
  padding-left: 40px;
}

.modal-dialog {
  max-width: 70vw;
}

.modal-header {
  padding-left: 15px;
  padding-bottom: 5px;
}

.modal-content {
  background-color: #111111;
}

.modal-content button {
  background-color: alpha;
  margin: 1px;
  padding: 3px;
}