@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
	height: 100%;
	margin: 0;
}

p {
	margin: 0;
}

* {
	box-sizing: border-box;
	-webkit-transition: all 0.4s cubic-bezier(.5, 0, .2, .8);
 	-moz-transition:    all 0.4s cubic-bezier(.5, 0, .2, .8);
 	-ms-transition:     all 0.4s cubic-bezier(.5, 0, .2, .8);
  	-o-transition:      all 0.4s cubic-bezier(.5, 0, .2, .8);
}

.bg-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

	height: 100%;
	position: relative;

	z-index: 1;
}

#bg-mercedes {
	background-image: url("./assets/background/mercedes.jpeg");
}

#bg-ferrari {
	background-image: url("./assets/background/ferrari.jpg");
}

.bg-text {
	transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    left: 20%;
    right: 20%;
    padding: 20px;
    
    font-size: 26px;
    background-color: #00000077;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
    color: white;

    z-index: 3;
}

.block-left {
	position: absolute;
	left: 0;
	top: 0;
	width: 80%;
	height: 100%;

	background-color: #333333;
}

.block-right {
	position: absolute;
	right: 0;
	top: 0;
	width: 80%;
	height: 100%;

	background-color: #333333;
}