@import url('https://fonts.googleapis.com/css?family=Staatliches|Thasadith');

* {
    box-sizing: border-box;
    -webkit-transition: all 0.4s cubic-bezier(.5, 0, .2, .8);
    -moz-transition:    all 0.4s cubic-bezier(.5, 0, .2, .8);
    -ms-transition:     all 0.4s cubic-bezier(.5, 0, .2, .8);
    -o-transition:      all 0.4s cubic-bezier(.5, 0, .2, .8);
    transition:         all 0.4s cubic-bezier(.5, 0, .2, .8);

    font-family: 'Thasadith', sans-serif;

    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.side-nav {
    position: fixed;
    height: 100vh;
}

.side-nav a {
    text-decoration: none;
}

.side-nav ul {
    width: 40px;
    padding: 5px;
    background-color: #000000;
    list-style-type: none;
}

.side-nav li {
    height: calc((100vh / 21) - (10px / 21));
}

.side-nav p {
    text-align: center;
    font-size: 80%;
    color: white;
}

.race-block {
    min-height: 400px;
    width: 100%;
    padding-left: 40px;

    background-attachment: fixed;
    background-size: cover;
}

.race-block div {
    background-color: #00000088;
}

.race-block h1 {
    text-align: center;
    font-family: 'Staatliches', sans-serif;
    font-weight: 400;
    color: #EEEEEE;
}