@import url('https://fonts.googleapis.com/css?family=Staatliches|Thasadith');

* {
    box-sizing: border-box;
    -webkit-transition: all 0.4s cubic-bezier(.5, 0, .2, .8);
    -moz-transition:    all 0.4s cubic-bezier(.5, 0, .2, .8);
    -ms-transition:     all 0.4s cubic-bezier(.5, 0, .2, .8);
    -o-transition:      all 0.4s cubic-bezier(.5, 0, .2, .8);
    transition:         all 0.4s cubic-bezier(.5, 0, .2, .8);

    font-family: 'Thasadith', sans-serif;

    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.side-nav {
    position: fixed;
    height: 100vh;
}

.side-nav a {
    text-decoration: none;
}

.side-nav div {
    height: inherit;
}

.side-nav div:hover {
    background-color: #E10600;
}

.side-nav ul {
    min-width: 3vw;
    padding: 5px 0;
    background-color: #000000;
    list-style-type: none;
}

.side-nav li {
    height: calc((100vh / 21) - (10px / 21));
}

.side-nav p {
    font-size: 1.3em;
    text-align: center;
    line-height: calc((100vh / 21) - (10px / 21));
    color: white;
}

.race-block {
    min-height: 400px;
    width: 100%;
    padding-left: 3vw;

    background-attachment: fixed;
    background-size: cover;
}

.race-block div {
    background-color: #00000088;
}

.race-block h1 {
    text-align: center;
    font-family: 'Staatliches', sans-serif;
    font-weight: 400;
    color: #EEEEEE;
}